* {
  font-family: Lato, sans-serif;
  color: ghostwhite;
  background-color: #121212;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

.instruction {
  text-align: center;
  font-size: x-large;
}

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /* Disable the default bullets and padding for list items. */
  list-style-type: none;
  padding-left: 0;
}
