<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <!-- Navigation Menu -->
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#parse">Playlist Parser</a>
      </div>

   <center><h1>Group Project App</h1>
   <p>This application is a playlist parser that will convert your playlist on one service to a playlist on another service.</p>
   <p>Search for a song on YouTube Music below</p>
   <input type="text" placeholder="Search.."></center>
</body>
</html>