<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/form-example.css') }}">
    <title>Home</title>
</head>
<body>
    <!-- Navigation Menu -->
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/library">Your Library</a>
        <a href="/parse">Parse Playlist</a>
        <a href="/login">Log In</a>
      </div>
      
    <div>
        <center>
            <h1 style="color:white;">Playlist Parser</h1>
            <p style="color:white;">This application is a playlist parser that will convert your playlist on one service to a playlist on another service.</p>
            <p style="color:white;">Explore the application to parse your playlist</p>
            <input type="text" placeholder="Search for a song...">
         </center>
    </div>

</body>
</html>