<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load Playlist</title>
</head>
<body>
    <h1>Pick a playlist</h1>
    <ul>
        {% for playlist in playlists %}
        <li>
            <div>
                <a href="/convert-playlist?source={{ service }}&id={{ playlist.id }}">
                    <img src={{ playlist.image }}>
                    {{ playlist.title }}
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>